################################################################################
# 项目特有配置
################################################################################
# 文件夹

# 文件类型
log*.txt

# 指定的文件